<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.UserMapper">
   
   <insert id="addUser" parameterType="userDto">
      INSERT INTO USERINFO
      VALUES(NULL,#{id},#{name},#{password},#{address},'Y',#{role},SYSDATE())
   </insert>
   
   <select id="idChk" parameterType="String" resultType="String">
      SELECT ID FROM USERINFO WHERE ID = #{id}
   </select>
   
   <select id="loginUser" parameterType="String" resultType="userDto">
      SELECT  ID, NAME, PASSWORD, ADDRESS, ROLE
      FROM USERINFO
      WHERE ID = #{id} AND ENABLED = 'Y'
   </select>
   
   <select id="userInfo" parameterType="String" resultType="userDto">
      SELECT ID, NAME, ADDRESS, ROLE
      FROM USERINFO
      WHERE ID = #{id}
   </select>
   
   <update id="updateUser" parameterType="userDto">
      UPDATE USERINFO
      SET name = #{name}, role = #{role}, address = #{address}
      WHERE ID = #{id}
   </update>
   
   <update id="delUser" parameterType="String">
      UPDATE USERINFO
      SET enabled = 'N'
      WHERE ID = #{id}
   </update>
   
   <select id="getAllUserList" resultType="userDto">
      SELECT ID, NAME, ADDRESS, ROLE, ENABLED, REGDATE
      FROM USERINFO
      where role = "EGG"
   </select>
   
   <update id="mulDel" parameterType="Map">
      UPDATE USERINFO SET enabled = 'N' WHERE id IN
      <foreach collection="id" item="id" open="(" close=")"
               separator=",">
         #{id}
      </foreach>
   </update>   
   
   <select id="userReserve" parameterType="String" resultType="reserveDto">
       SELECT SEQ, BOOKTITLE, BOOKAUTHOR, BOOKPUBLISHER, RESERVER, RESDATE, DATE_ADD(RESDATE, INTERVAL 7 DAY) AS RETURNDATE
       FROM reserveinfo
       WHERE RESERVER = #{id}
   </select>
   
</mapper>


