<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
</script>
<style type="text/css">
.lead{
   text-align: right;
   padding: 10px;
}

</style>
</head>
<body>
<div layout:fragment="content">
	<form action="/book/selectList" method="get">
	<div class="lead">
	      <span th:text="${session.mdto.id}"></span>[<span th:text="${session.mdto.role}"></span>]님께서 로그인하셨습니다.
	</div>
	<h1>검색 페이지</h1>
	<div class="search" style="text-align: center;">
		<input type="text" id="search" name="title" style="float: left;"  placeholder="검색어 입력" />
		<button id="add" type="submit" style="float: left;" class="btn btn-dark mt-3" >검색</button>
	</div>
	<table class="table table-bordered table-striped col-md-12" id="news" >
      <tr>
         <th>책 제목</th>
         <th>글쓴이</th>
         <th>출판사</th>
         <th>예약</th>
         <th>예약현황</th>
      </tr>   
      <th:block th:if="${#lists.isEmpty(list)}">
         <tr>
            <td colspan="3" style="text-align: center;">---검색결과가 없습니다.---</td>
         </tr>
      </th:block>
      <th:block th:unless="${#lists.isEmpty(list)}">
         <tr th:each="dto:${list}">
            <td>
               <a th:href="@{/book/bookDetail(book_seq=${dto.book_seq})}" th:text="${dto.title}"></a>
            </td>
            <td th:text="${dto.writer}"></td>
            <td th:text="${dto.publisher}"></td>
            <td><button type="button" style="width: 50px; height: 25px; font-size: 10px;" th:onclick="|location.href='@{/book/reserveBook(book_seq=${dto.book_seq},reserver=${session.mdto.id})}'|">예약</button></td>
            <th:block th:if="${dto.resflag} == 'Y'">
            	<td>예약불가능</td>
            </th:block>
            <th:block th:unless="${dto.resflag} == 'Y'">
            	<td>예약가능</td>
            </th:block>
         </tr>
      </th:block>
   </table>
   </form>
   <form action="/book/bookInsert" method="get">
		<button type="submit" class="btn">책 등록</button>
	</form>
</div>
</body>
</html>