<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
<script type="text/javascript">
   function registForm(){
      location.href="/user/addUser";
   }
   
</script>
<style type="text/css">
   
 	h1{margin-top: -70px;}
 	.find-btn{
 		 text-align: center;
 		 margin-top: 20px;
 	}
 	
 	.btn{
 		display:inline-block;
 		width: 150px; height: 60px;
 	}
 	
 	body{
 			background-image: url('css/tree.png');	
 			background-size: cover;
}
h1{
	font-family: 'Nanum Brush Script', cursive;
	font-size: 50px;
}
 
</style>
</head>
<body>
<div layout:fragment="content">
	<form action="/user/login" method="post" onsubmit="return userIdCookie()" id="home">
		<div style="text-align: center;">
			<br/>
			<br/><br/><br/><br/><br/><br/><br/>
			<h1>작은 도서관</h1>
			<br/>
			<input class="loginVal" type="text" name="id" placeholder="ID" required="required" />
			<br/>
			<input class="loginVal" type="password" name="password" placeholder="PASSWORD" required="required" />
		</div>
		<div class="find-btn">
			<button type="submit" class="btn">Sign in</button>
			<button type="button" class="btn" onclick="registForm()">Sign Up</button>
		</div>
	</form>
</div>
</body>
</html>